body{
    font-family: ;
    background-color:#047283;
    background-image: url();
    background-size: cover;
}

#seleccionar-mascota {display: flex;
flex-direction: column; justify-content: center; align-items: center;}

.title{color: #A5B452; 
    font-size: 32px;
     font-family: ;}

.sbtitle{color: #A8D0DB;
     font-size: 32px;}

.tarjetas{display: flex; 
    gap: 10px;}

.tarjeta-pokemon{width: 200px;
     height: 100px; 
     background-color: #d3a424; 
     padding: 10px; 
     box-sizing: border-box;
     border-radius: 20px;
     display:flex;
     justify-content: center;
     align-items: center;
     color: #047283}

#boton-pokemon{
     width: 180px;
     height: 40px;
     border-radius: 20px;
     background: transparent ;
     border: 2px color white;
     color: white;
     font-family: ;
     margin-top: 30px;
}

.tarjeta-pokemon img{
    width: 80px;
}

input{
    display: none;
}

#Seleccionar-ataque{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-de-ataque{
    background-color: ;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 180px;
    color: rgb(8, 8, 8);
    font-family: ;
}

#boton-reiniciar{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid; 
    color: white;
    font-family: ;
    margin-top: 30px;
}